{% extends "layout.html" %}
{% block body %}

  <form action="/start/" method="post">
    <button type="submit">Start</button>
  </form>

  <form action="/capture/" method="post">
    <button type="submit">Capture</button>
  </form>

  <form action="/video/" method="post">
    <button type="submit">Video</button>
  </form>

  <ul>
    {% for photo in photos %}
      <li>
        <img width="400" src="/static/{{ photo }}">
      </li>
    {% endfor %}
  </ul>

  <ul>
    {% for video in videos %}
      <li>
        <video width="400" src="/static/{{ video }}">
      </li>
    {% endfor %}
  </ul>

{% endblock %}

